$darkPrimaryColor: #00796b;
$primaryColor: #009688;
$lightPrimaryColor: #b2dfdb;
$primaryText: #212121;
$secondaryText: #757575;
$accentColor: #607d8b;
$textIcons: #ffffff;
$dividerColor: #bdbdbd;

header.mdl-layout__header {
  background-color: $darkPrimaryColor;
  .mdl-layout__header-row {
    background-color: $primaryColor;
    padding: 0 40px 0 20px;
    .mdl-layout-title {
      margin-left: 20px;
      color: $textIcons;
    }
  }
}

.mdl-layout__content {
  .page-content {
    display: flex;
    align-content: center;
    justify-content: center;
    .main-container {
      padding: 10px;
      // max-width: 600px;
      border: 1px solid $dividerColor;
      font-family: "Lexend Deca", sans-serif;
      border-radius: 1%;
      color: $primaryText;
      display: flex;
      flex-direction: column;
      // justify-self: center;
      // align-self: center;
      margin: 20px;
      .info-day {
        display: grid;
        margin: 10px;
        font-size: 15px;
        color: $secondaryText;
        .city-and-country-name {
          font-size: 25px;
          color: $primaryText;
          padding-bottom: 5px;
        }
      }
      .current-forecast {
        display: flex;
        justify-content: space-between;

        .main-info-left {
          .weather-img {
            width: 60px;
          }
          margin: 10px;
          display: flex;
          justify-content: space-evenly;
          .degrees-container {
            display: flex;
            .degrees {
              padding-top:20px;
              padding-right: 5px; 
              font-size: 64px;
            }
          }
        }
        .main-info-right {
          display: grid;
          margin: 10px;
        }
      }

      .daily-forecast-bundle {
        display: flex;
        .daily-forecast {
          // border: 0.3px solid $dividerColor;
          padding: 5px;
          display: grid;
          text-align: center;
          margin: 5px;
          .max {
            color: $primaryText;
            &::after {
              content: "/";
            }
          }
          .min {
            color: $secondaryText;
          }
        }
      }
    }
  }
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  color: $textIcons;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}
