ul {
	padding: 0px;
}
body {
	background-color: #ededed;
}



.mdl-layout__content {
	width: 100%;
	.page-content {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
}
