.search-form {
	.query-input {
		padding: 20px 0px 5px 0px;
	}
	.results {
		z-index: 10;
		width: 210px;
		position: absolute;
		margin: 0;
		margin-right: 30px;
		color: $primaryText;
		list-style: none;
		border: 1px solid $dividerColor;
		border-radius: 1.5%;
		background-color: white;
		.results-items {
			padding: 10px;
			&:hover {
				background: $primaryColor;
				color: $textIcons;
				cursor: pointer;
			}
		}
	}
}